* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  background-color: #f8f8fa;
  align-items: center;
  padding-left: 16px;
  padding-right: 20px;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
hr {
  margin: 0 46% 0 46%;
  border: 2px solid;
  border-radius: 3px;
}
h1 {
  font-size: 25px;
}

nav > .logo > a > span {
  color: black;
  font-size: 20px;
}
nav > .logo > a > span:nth-child(3) {
  color: red;
}
.content > a {
  color: gray;
  padding: 6px;
}
.content > a:hover {
  color: black;
}
.methodology {
  border: #0f175f solid 1px;

  border-radius: 10px;
  background-color: #0f175f;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
}
.methodology > p {
  margin: 20px 70px 20px 70px;
  font-size: 12pt;
}
.flex1 {
  margin: 0 110px 0 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  transform: translateY(-120px);
}
.flex1 > div {
  border: 1px solid white;
  border-radius: 10px;
  width: 30%;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(169, 169, 169, 0.596);
}
.flex1 > div > h2,
.flex1 > div > h4 {
  margin: 0 18px 0 18px;
  color: #0f175f;
}
.flex1 > div > p {
  margin: 0 18px 0 18px;
}
.flex2 {
  margin: 0 100px 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #0f175f;
}
.flex2 > div {
  width: 23%;
  margin: 0 10px 0 10px;
}
.flex2 > div > p {
  color: black;
}
button {
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .flex1 > div {
    width: 100%;
  }
  .flex1 {
    margin: 0 125px 0 125px;
  }
  .flex2 > div {
    width: 40%;
    margin: 0 10px 0 10px;
  }
}
@media only screen and (max-width: 576px) {
  .flex2 > div {
    width: 100%;
    margin: 0 10px 0px 10px;
  }
  .content > a {
    visibility: hidden;
  }
  button {
    visibility: visible;
    float: right;
  }
}
